@charset "utf-8";


// language specific styles
.lang-list {
  list-style-type: none;
  padding-left: 0;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
}
.lang-list li {
  display: inline-block;
  margin-right: 10px;
}
